.e2313_2 { 
	overflow:hidden;
}
.e2313_2 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(aboutbg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2314_5 { 
	width:664px;
	height:569px;
	position:absolute;
	left:656px;
	top:160px;
	background-image:url(abimg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2314_6 { 
	color:rgb(255, 255, 255);
	width:359px;
	height:79px;
	position:absolute;
	left:202px;
	top:177px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e2314_7 { 
	color:rgb(255, 255, 255);
	width:508px;
	height:364px;
	position:absolute;
	left:120px;
	top:266px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e2316_8 { 
	box-shadow:0px 0px 6px rgba(255, 255, 255, 0.12);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2316_9 { 
	width:40px;
	height:40px;
	position:absolute;
    
	left:20px;
	top:2.5px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(logo_with_title_smart_city_mission_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2316_10 { 
	color:rgba(0, 0, 0, 1);
	width:1340px;
	height:36px;
	position:absolute;
   
	left:80px;
	top:4.5px;
	font-family:Roboto;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
