.e2313_2 { 
	overflow:hidden;
}
.e2313_2 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(contactbg.webp);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2316_8 { 
	box-shadow:0px 0px 6px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2316_9 { 
	width:40px;
	height:40px;
	position:absolute;
	left:20px;
	top:2.5px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(logo_with_title_smart_city_mission_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2316_10 { 
	color:rgba(0, 0, 0, 1);
	width:1340px;
	height:36px;
	position:absolute;
	left:80px;
	top:4.5px;
	font-family:Roboto;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
.e2320_11 { 
	color:rgba(255, 255, 255, 1);
	width:233px;
	height:36px;
	position:absolute;
	left:544px;
	top:131px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e2320_12 { 
	#box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:322px;
	height:360px;
	position:;
	left:158px;
	top:290px;
	#background-image:url(Untitled\ design.png);
	background-repeat:no-repeat;
	#background-size:cover;
}
.e2320_12 { 
	#border:1px solid rgba(0, 0, 0, 1);
}
.e2320_13 { 
	#border:1px solid rgba(0, 0, 0, 1);
}
.e2320_13 { 
	width:286px;
	height:360px;
	position:absolute;
	left:544px;
	top:290px;
	#background-image:url(atharva.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2320_18 { 
	#border:1px solid rgba(0, 0, 0, 1);
}
.e2320_18 { 
	width:305px;
	height:357px;
	position:absolute;
	left:894px;
	top:292px;
	#background-image:url(utkarsh.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2320_19 { 
	color:rgba(255, 255, 255, 1);
	width:250px;
	height:56px;
	position:;
	left:180px;
	top:684px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}
.e2320_20 { 
	color:rgba(255, 255, 255, 1);
	width:333px;
	height:56px;
	position:absolute;
	left:514px;
	top:684px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}
.e2320_21 { 
	color:rgba(255, 255, 255, 1);
	width:333px;
	height:56px;
	position:absolute;
	left:866px;
	top:684px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}
.e2320_22 { 
	color:rgba(255, 255, 255, 1);
	width:697px;
	height:58px;
	position:absolute;
	left:380px;
	top:813px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}
